<div class="row">
  <% @templates.each do |template| %>
    <div class="col-xs-6 col-sm-4 col-md-3 card">
      <div class="thumbnail">
        <%= image_tag(template.url, :class => "template-img", :data => { :url => template.url }) %>
    </div>
    </div>
  <% end %>
</div>
