<% provide(:title, "Templates") %>
<script type="text/javascript">
$("#nav-templates").addClass("active");
</script>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <h2>Templates&nbsp;
      <button class="btn btn-default" type="button"><%= link_to 'New Template', new_template_path %></button>
    </h2>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <% @templates.each do |template| %>
      <div class="col-xs-4 col-md-3">
        <div class="thumbnail">
          <%= image_tag(template.url, :class => "template-img") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
