<% provide(:title, "Recent Memes") %>

<div class="row">
  <div class="col-md-12">
    <h2 id="subheader">Recent Memes</h2>
  </div>
</div>
<hr />
<div class="row">
  <% @memes.each do |meme| %>
    <div class="col-xs-6 col-sm-4 col-md-3 card">
      <div class="thumbnail">
        <%= link_to(image_tag(meme.image.url, :class => "meme-img", :data => { :memeid => meme.id }),
               meme, :title => meme.top_caption) %>
      </div>

      <%= button_tag(type: 'button', class: ["btn", "btn-default", "up-vote-button"], data: { memeid: meme.id }) do
          content_tag(:span, "", class: ["glyphicon", "glyphicon-arrow-up"])
          end
      %>
      <% v = @votes.find{ |vote| vote.meme_id == meme.id } %>
      <%= v ? v.value : 0 %>
      <%= button_tag(type: 'button', class: ["btn", "btn-default", "down-vote-button"], data: { memeid: meme.id }) do
          content_tag(:span, "", class: ["glyphicon", "glyphicon-arrow-down"])
          end
      %>
    </div>
  <% end %>
  <% if @memes.blank? %>
    <div class="col-md-12">
      <div class="alert alert-info">No memes here. Go create one!</div>
    </div>
  <% end %>
</div>

</div>
<% content_for :footerjs do %>
  <script type="text/javascript">
  $("#nav-recent").addClass("active");
  </script>
<% end %>
