<% provide(:title, "Recent Memes") %>

<div class="row">
  <div class="col-md-12">
    <h2 id="subheader">Recent Memes</h2>
  </div>
</div>

<%= render "memes" %>

<% content_for :footerjs do %>
  <script type="text/javascript">
  $("#nav-recent").addClass("active");
  </script>
<% end %>
