<% provide(:title, "New Meme") %>
<div class="row">
  <div class="col-md-12">
    <h2 id="subheader">New Meme</h2>
  </div>
  <div class="text-center col-md-12">
    <%= bootstrap_form_tag url: :memes, method: "post", layout: :inline do %>
        Select Template:<br>
          <input id="template-search" type="text" placeholder="Search Templates">
        <br>
        <div class="row" id="results"></div>
        <div class="row">
	        <div class="col-md-6">
	        <%= text_field(:meme, :top_caption, :id => "top-line", :placeholder => "Top Text")%>
	        </div>
	        <div class="col-md-6">
	        <%= text_field(:meme, :bottom_caption, :id => "bottom-line", :placeholder => "Bottom Text") %>
	        </div>
	    </div>
	    <br>
        <br>
        <canvas id="meme"></canvas>
     <% end %>
  </div>
</div>
<div class="clearfix"></div>

<% content_for :footerjs do %>
	<!-- for meme_gen.js -->
 	<script type="text/javascript">
	  	Meme('http://i.imgur.com/uGNb9El.jpg', 'meme');

		$('#top-line, #bottom-line').keyup(function() {
			Meme('http://i.imgur.com/uGNb9El.jpg', 'meme', $('#top-line').val(), $('#bottom-line').val());
		});
 	</script>

	<script type="text/javascript">
    $("#template-search").keyup(_.debounce(function() {
      if ($(this).val().trim()) {
        $.ajax({
          url: '/templates',
          context: document.body,
          data: {
            query: $(this).val(),
          },
          dataType: "script",
        });
      } else {
        $("#results").html("");
      }
    }, 500));
	</script>
<% end %>


