<% provide(:title, "New Meme") %>
<div class="row">
  <div class="col-md-12">
    <h2 id="subheader">New Meme</h2>
  </div>
  <div class="text-center col-md-12">
    Select Template:<br>
    <input id="template-search" type="text" placeholder="Search Templates">
    <br>
    <div class="row" id="results"></div>
    <br>
    <br>
    <%= bootstrap_form_for(@meme) do |f| %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3">
	    <%= f.text_field :top_caption, :id => "top-line", :placeholder => "Top Text" %>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
	    <%= f.text_field :bottom_caption, :id => "bottom-line", :placeholder => "Bottom Text" %>
      </div>
      <div class="col-md-2"></div>
	  </div>
    <%= f.primary %>
    <% end %>
	  <br>
    <br>
    <div class="xmeme" id="meme">
      <figure>
        <figcaption id="topcaption"></figcaption>
        <img id="memeimg">
        <figcaption id="botcaption"></figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<% content_for :footerjs do %>
	<!-- for meme_gen.js -->
 	<script type="text/javascript">
    var template_id;
    $('#top-line').on('keyup', function() {
      $('#topcaption').text($(this).val());
    })
    $('#bottom-line').on('keyup', function() {
      $('#botcaption').text($(this).val());
    })
    $("#new_meme").submit( function(eventObj) {
      $('<input />').attr('type', 'hidden')
          .attr('name', "meme[template_id]")
          .attr('value', template_id)
          .appendTo('#new_meme');
    });
 	</script>

	<script type="text/javascript">
    $("#template-search").keyup(_.debounce(function() {
      if ($(this).val().trim()) {
        $.ajax({
          url: '/templates',
          context: document.body,
          data: {
            query: $(this).val(),
          },
          dataType: "script",
          success: function() {
                      $('.template-img').click(function(event) {
                        $('#memeimg').attr('src', $(this).attr('src'));
                        template_id = $(this).data("template-id");
                      });
                    },
        });
      } else {
        $("#results").html("");
      }
    }, 500));
	</script>
<% end %>


