<div class="row">
	<ul class="nav nav-tabs">
	  <li role="presentation" id="user-profile">
      <%= link_to "#{@user_str} Profile", user_path %>
	  </li>
	  <li role="presentation" id="user-memes">
      <%= link_to "#{@user_str} memes", user_memes_path %>
	  </li>
	  <li role="presentation" id="user-templates">
      <%= link_to "#{@user_str} Templates", user_templates_path %>
	  </li>
	</ul>
</div>
<br />
