<% provide(:title, "My Memes") %>

<div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation">
      <%= link_to "My Profile", user_path %>
    </li>
    <li role="presentation" class="active">
      <%= link_to "My memes", user_memes_path %>
    </li>
    <li role="presentation">
      <%= link_to "My Templates", user_templates_path %>
    </li>
  </ul>
</div>

<div class="row">
  <% @user.meme.each do |meme| %>
    <div class="col-xs-6 col-sm-4 col-md-3 card">
      <div class="thumbnail">
        <%= link_to(image_tag(meme.image.url, :class => "meme-img"),
                    meme, :title => meme.top_caption) %>
    </div>
    </div>
  <% end %>
</div>
