<% provide(:title, "#{@user_str} Memes") %>
<%= render "tabs" %>

<div class="row">
  <% @memes.each do |meme| %>
    <div class="col-xs-6 col-sm-4 col-md-3 card">
      <div class="thumbnail">
        <%= link_to(image_tag(meme.image.url, :class => "card-img"),
                    meme, :title => meme.top_caption) %>
    </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= will_paginate @memes, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
<% content_for :footerjs do %>
<script type="text/javascript">
$("#user-memes").addClass("active");
</script>
<% end %>

