<% provide(:title, "My Profile") %>

<div class="row">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active">
	  	<%= link_to "My Profile", user_path %>
	  </li>
	  <li role="presentation">
	  	<%= link_to "My memes", user_memes_path %>
	  </li>
	  <li role="presentation">
	  	<%= link_to "My Templates", user_templates_path %>
	  </li>
	</ul>
</div>



